 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Mukta&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 .logo {
     width: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .logo img {
     width: 70px;
     border: 2px solid white;
     border-radius: 50px; 
 }

 .navbar {
     /* height:10vh; */
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     /* top: 0px; */
 }

 .navlist {
     width: 70%;
     /* background-color: #9f5b5b; */
     display: flex;
     align-items: center;
 }

 .navlist li {
     list-style: none;
     padding: 0 20px;
 }

 .navlist li a {
     font-family: 'Mukta', sans-serif;
     font-size: 17px;
     text-decoration: none;
     color: white;
     padding: 29px 11px
 }

 .navlist li a:hover {
     color: rgb(1, 0, 2);

 }

 .rightNav {
     font-family: 'Mukta', sans-serif;
     padding: 0 33px;
     /* vertical-align: middle; */
     width: 30%;
     /* background-color: blue; */
     text-align: right;
 }

 #search {
     /* font-weight: bold; */
     padding: 6px;
     font-size: 17px;
     border: 2px solid grey;
     border-radius: 10px;
     outline: none;
 }

 .background {
     background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
     background-size: cover;
     background-blend-mode: darken;
 }

 .firstSection {
     height: 100vh;
 }

 .box-main {
     font-family: 'Mukta', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     max-width: 74%;
     margin: auto;
     padding-top: 130px;
     /* display: block;
    /* width:80vw; */
 }

 .firstHalf {
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: auto;
 }

 .secondHalf {
     width: 39%;
 }

 .secondHalf img {
     width: 74%;
     border: 2px solid white;
     border-radius: 31px;
     display: block;
     margin: auto;
 }

 /* .secondHalf img{
width:100px;
} */

 .text-big {
     margin: 3px 0;
     font-family: 'Mukta', sans-serif;
     font-size: 35px;
 }

 .text-small {
     font-family: 'Mukta', sans-serif;
     font-size: 17px;
 }

 .btn {
     font-weight: bold;
     font-family: 'Mukta', sans-serif;
     padding: 7px 25px;
     margin: 10px 3px;
     border: 2px solid white;
     border-radius: 20px;
     /* font-size: 17px; */
     cursor: pointer;
     background: none;
     color: white;
 }

 .btn-sm {
     padding: 3px 10px;
     vertical-align: middle;
 }

 .section {
     font-family: 'Mukta', sans-serif;
     /* height: 56vh; */
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     max-width: 80%;
     margin: 17px auto;
     /* /* margin-top: 33px; */
 }

 .left {
     flex-direction: row-reverse;
     /* margin:0; */
 }

 .thumbnail {
     width: 40%;

 }

 .thumbnail img {
     width: 90%;
     border: 2px solid black;
     border-radius: 48px;
     display: block;
     margin: auto;
 }

 .paras {
     width: 100%;
     /* display: flex;
    flex-direction: column; */
     padding: 0 23px;
 }

 .contact {
     font-family: 'Mukta', sans-serif;
     background-color: aquamarine;
     /* height: 100%;
     width:100vw; */
 }

 .text-center {
     padding: 45px;
     text-align: center;
 }

 .form {
     height: 100vh;
     max-width: 70vw;
     margin: auto;
 }

 .form-input {
     font-family: 'Mukta', sans-serif;
     margin: 11px auto;
     padding: 3px;
     border: 2px solid grey;
     border-radius: 6px;
     font-size: 19px;
     width: 100%;
 }

 .btnCenter {
     /* font-size: 16px; */
     font-weight: bold;
     border: 2px solid black;
     color: black;
     display: block;
     width: 270px;
     margin: 6px auto;
 }

 .btn:hover {
     color: black;
     background-color: white;
 }

 .footCenter {
     padding: 7px;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Mukta', sans-serif;
 }

 